*{
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 12fr;
    grid-template-rows: 10vh calc(100vh - 20vh) 10vh;
    grid-template-areas: "h"
                         "c"
                         "f";
}

header{
    grid-area: h;
    background-color: rgb(206, 95, 147);
    display: flex;
    gap: 10vw;
}

.lateral{
    grid-area: l;
    background-color: pink;
}

.container{
    grid-area: c;
    background-color: palevioletred;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

footer{
    grid-area: f;
    background-color: rgb(206, 95, 147);
}

table, thead, tbody{
    width: 80%;
}


tr, li{
    width: 100%;
    min-height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

th, td{
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btn{
    text-decoration: none;
    background-color:rgb(185, 75, 126);;
    color: rgb(0, 0, 0);
    padding: 2px;
    margin: 2px;
    border-radius: 10px;
    border: none;
}

.btn:hover{
    text-decoration: none;
    background-color: rgba(255, 0, 140, 0.751);
    color: rgb(0, 0, 0);
    padding: 2px;
    margin: 2px;
    border-radius: 10px;
    border: none;
}

.btnv{
    text-decoration: none;
    background-color: rgba(255, 10, 10, 0.836);
    color: rgb(0, 0, 0);
    padding: 2px;
    margin: 2px;
    border-radius: 10px;
    border: none;
}

.btnv:hover{
    text-decoration: none;
    background-color: rgba(255, 0, 0, 1);
    color: rgb(0, 0, 0);
    padding: 2px;
    margin: 2px;
    border-radius: 10px;
    border: none;
}

ul{
    list-style: none;
}

form{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

form>p{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo{
    width: 20vw;
    height: 10vh;
}

.btnacesso{
    height: 100%;
    display: flex;
    align-items: center;
}
